.card{
  border:none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translateY(-50%, -50%);
  background: hsla(205, 46%, 30%, 1);
  /* background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(205, 46%, 30%, 1) 100%); */
}

/*
.container{
  display: flex;
  justify-content: center;
  align-items:center;
} */

.card label h1, h6{
  color: #fff;
  font-size: 1.5rem;
}

label{
  color: #fff;
  font-size: 2rem;

}
