<app-header></app-header>

<!-- {{details.boisson|json}} -->
<!-- {{details.produit.prix|json}} -->


<div class="container-fluid w-75  mt-5 shadow-lg p-3 mb-5 bg-light rounded" >
  <div class="row w-100 mt-3 mb-3 d-flex justify-content-around">
    <div class="col-4  ">
       <h5 class="fs-4 fw-normal">Produit : {{details?.produit.nom}}</h5>

  </div>
  <div class="col-4 ">
    <h5 class="fs-4 fw-normal">Montant Produit: {{details?.produit.prix}}CFA</h5>
</div>
  </div>
  <div class="row  mt-5 ">
    <div class="col-6  " >
         <div class="row "  >
             <div class="col-4 shadow-lg p-0 ml-2" style="height:28vh ;width: 35%; margin-left:10px">
              <img src="data:image/png;base64,{{details?.produit?.image}}"  class="rounded  h-100 w-100 " alt="...">
             </div>
             <div class="col-5 fs-6 p-5">
           
              {{details?.produit?.description}}


            </div>
         </div>
         <div class="row  mt-2">
          <div class="d-flex gap-5">
            <h4 class="" >{{details?.produit.nom}}</h4>
          <span class="fs-4">{{details?.produit.prix}}Fcfa</span>
          </div>
          <div class="row p-3 gap-2 w-50">
            <button type="button" class="btn btn-danger btn-sm p-0 text-center w-25 fs-3">-</button>
             <input #quantiteProd type="number" class="form-control text-center w-25 fs-3 " id="input1" aria-describedby="emailHelp" value="1">
             <button type="button" class="btn btn-danger btn-sm p-0 text-center w-25 fs-3">+</button>
           </div>
         </div>
         <!-- {{details.produit['@type']}} -->

         <div class="row" *ngIf="details.produit['@type']=='Menu'">
              <div class="col-12 ">
                <h4 class="mt-2">Burger</h4>
                <!-- <app-liste-details ></app-liste-details> -->
                <!-- <ng-container  > -->
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Image</th>
                                  <th scope="col">Nom</th>
                                  <th scope="col">Prix</th>
                                  <th scope="col">Quantite</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let burger of details.produit.menuBurgers">
                                  <th scope="row">1</th>
                                  <td>
                                    <img  src="data:image/png;base64,{{burger.burger.image}}" class="burger" alt="..." >
                                  </td>
                                  <td>{{burger.burger.nom}}</td>
                                  <td>{{burger.burger.prix}}</td>
                                  <td>{{burger.quantite}}</td>
                                </tr>
                              </tbody>
                            </table>
                  <!-- <div class="row g-3 align-items-center mt-1">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label fw">{{burger.burger.prix}}CFA</label>
                    </div>
                    <div class="col-4" *ngIf="hideQte">
                      <input type="number" min="0" value="0" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                    </div>
                  </div> -->
                  <!-- {{burger.burger.nom}}
                  {{burger.burger.prix}}
                  {{burger.quantite}}
                   <img  src="data:image/png;base64,{{burger.burger.image}}" class="rounded float-start  " alt="..." > -->


                  <!-- <app-liste-details [hideQte]="true" [produits]="details.produit.menuBurgers"></app-liste-details> -->
                <!-- </ng-container> -->

                <h4 class="mt-2">Frites</h4>
                <!-- <app-liste-details></app-liste-details> -->
                <!-- <ng-container > -->
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantite</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let portionFrite of details.produit.menuPortionFrites" >
                        <th scope="row">1</th>
                        <td>
                          <img  src="data:image/png;base64,{{portionFrite.portionFrite.image}}" class="portion" alt="..." >
                        </td>
                        <td>{{portionFrite.portionFrite.nom}}</td>
                        <td>{{portionFrite.portionFrite.prix}}</td>
                        <td>{{portionFrite.quantite}}</td>
                      </tr>
                    </tbody>
                  </table>


        <!-- <app-liste-details [hideQte]="true" [produits]="details.produit.menuBurgers"></app-liste-details> -->
      <!-- </ng-container> -->
                <h4>Les Boisssons du Menu</h4>
                <!-- <app-liste-details [hideQte]="true"></app-liste-details> -->
                <!-- <ng-container  > -->
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantite</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let taille of details.produit.menuTailles">
                        <th scope="row">1</th>
                        <td>
                          <img  src="data:image/png;base64,{{taille.taille.image}}" class="portion" alt="..." >
                        </td>
                        <td>{{taille.taille.libelle}}</td>
                        <td>{{taille.taille.prix}}</td>
                        <td>{{taille.quantite}}</td>
                      </tr>
                    </tbody>
                  </table>


        <!-- <app-liste-details [hideQte]="true" [produits]="details.produit.menuBurgers"></app-liste-details> -->
      <!-- </ng-container> -->
              </div>
         </div>
    </div>
    <div class="col-6 ">
          <h4>Autres Boisssons</h4>
          <!-- <table>
            <tr *ngFor="let boisson of details.boisson">
              <th scope="row">1</th>
              <td>
                <img  src="data:image/png;base64,{{boisson.image}}" class="portion" alt="..." >
              </td>
              <td>{{boisson.nom}}</td>
              <td>{{boisson.prix}}</td>
            </tr>
          </table> -->
          <app-liste-details [hideQte]="true" [produits]="details?.boisson"></app-liste-details>
          <h4 class="mt-2">Frites</h4>
         <app-liste-details [hideQte]="true" [produits]="details?.portionFrite"></app-liste-details>


  </div>
  </div>
  <div class="row ">
     </div>

     <div class="row ">
    </div>

     <div class=" d-flex justify-content-end justify-content-evenly">
         <div class="d-flex justify-content-end ">
              <button class="btn btn-light justify-content-lg-start" type="button" routerLink="/client/catalogue"><< Continuer mes achats</button>
</div>
         <div class="d-flex justify-content-start">
           <button (click)="addPanier(details.produit, quantiteProd.value)"  class="btn btn-danger justify-content-lg-start" type="button" routerLink="/client/panier">Accéder à mon panier</button>
         </div>
     </div>
</div>
<!-- (click)="addPanier(produits)" -->

