
  <div class="p-0 w-75 shadow" style="height:18vh ">
    <img src="data:image/png;base64,{{produit?.image}}" class="rounded float-start h-100 w-100 " alt="...">

  </div>
  <div class="row g-3 align-items-center mt-1">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label fw">{{produit.prix}}CFA</label>
    </div>
    <div class="col-4" *ngIf="hideQte">
      <input type="number" min="0" value="0" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
    </div>
  </div>



