
<div class="d-flex flex-column">
  <nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <img src="assets/images/samaburger.png" routerLink="/client/catalogue" class="" alt="..." width="7%">


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>


        <span class="navbar-text">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="d-flex home">
                <!-- checkbox -->
                <!-- <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                  <label class="btn btn-outline-danger" for="btncheck1" (click)="filtre('catalogue')">Catalogue</label>

                  <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btncheck2" (click)="filtre('burger')">Burger</label>

                  <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btncheck3" (click)="filtre('menu')">Menu</label>
                </div> -->

                <!-- checkbox -->
              <li class="nav-item">
                <span><a class="nav-link active fs-4" (click)="filtre('catalogue')">Catalogue</a></span>
              </li>
              <li class="nav-item">
                <span><a class="nav-link active fs-4 " (click)="filtre('burger')">Burger</a></span>
              </li>
              <li class="nav-item">
                <span><a class="nav-link active fs-4 " (click)="filtre('menu')" >Menu</a></span>
              </li>
            <li class="nav-item">
              <a class="nav-link active fs-4" routerLink="/login" >Se Connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-4" routerLink="/register">Créer un compte</a>
            </li>
               <div class="cart_value d-flex m-2">
                <!-- <i class="fa fa-shopping-cart"></i> -->
               <span class="increment" routerLink="/client/panier"> {{(items$|async).length}}</span>
               </div>
              <p><img src="assets/images/wallet.png" alt="" height="50" routerLink="/client/panier" >
                <span class="d-flex text-center" routerLink="/client/panier">Panier</span>
              <!-- <a class="nav-link active" routerLink="#">Panier</a> -->
            </p>
            </div>
        </ul>
        </span>
      </div>
    </div>
  </nav>






  <!-- <div class="d-flex justify-content-end">

    <nav class="navbar navbar-expand-lg bg-warning nav2" >

        <select class="form-select " aria-label="Default select example" >
          <option selected>Filter menu par burger, menu ou catalogue</option>
          <option value="1" (click)="filtre('catalogue')">Catalogues</option>
          <option value="2" (click)="filtre('burger')">Burgers</option>
          <option value="3" (click)="filtre('menu')">Menu</option>
        </select>

    </nav>
  </div> -->






