

#filtreTop{
  margin-top: 2%;
}


.filtre
{
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}


.header2{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  }


select
{
  display: flex;
  justify-content: center;
  width: 30%;
}

.nav2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
  width: 100%;
}

a{
  font-size: 1.5rem;
}

.shopping
{
  color: blue;
}

p, img{
  cursor:pointer;
}

.cart_value{
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 4px 10px;
}

.increment{
  font-weight: bold;
  color: #fff;
}

.nav-item{
  cursor: pointer;
  color: #fff;

}

a:hover{
  background-color: red;
}

span{
  cursor:pointer;
}
